/* 公用部件的样式 */
.go {
	position: fixed;
	top: 30px;
	right: 30px;
	width: 100px;
	height: 100px;
	z-index: 1001;
	border-radius: 50%;
}

.more {
	position: fixed;
	right: 60px;
	bottom: 80px;
	z-index: 1001;
	animation: more .4s linear infinite alternate;
}

/* 容器区域的样式 */
.content {
	width: 900px;
	height: 600px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -450px;
}

/* 第一屏 */
.screen01 {
	background: url(../images/01-bg.png) no-repeat bottom center;
}

.screen01 .good {
	text-align: center;
	margin-top: 230px;
}

.screen01 .sofa {
	position: absolute;
	left: 230px;
	top: 150px;
	animation: sofa01 .8s linear infinite alternate;
}

.screen01 .fly {
	position: absolute;
	top: 20px;
	right: -50px;
	animation: fly01 1s linear infinite alternate;
}

/* 第一屏动画 */
/* 定义动画序列 */
@keyframes fly01 {
	from {
		transform: tranlateY(-30px);
	}

	to {
		transform: translateY(30px);
	}
}

@keyframes more {
	from {
		transform: translateY(10px);
	}

	to {
		transform: translateY(-10px);
	}
}

@keyframes sofa01 {
	from {
		transform: translateY(-20px);
	}

	to {
		transform: tranlateY(20px);
	}
}

/* 第二屏 */
/* 只有块级元素才可以执行动画 */
.screen02 {
	background: url(../images/02-bg.png) no-repeat center bottom;
}

.screen02 .goods {
	position: absolute;
	left: 50%;
	bottom: 210px;
	margin-left: -220px;
	transform: scale(0);
	transform-origin: right bottom;
}

.screen02 .sofa {
	transform: scale(0.5);
	position: absolute;
	left: 292px;
	top: 132px;
	opacity: 0;
	z-index: 1001;
}

.screen02 .input {
	position: absolute;
	right: 171px;
	top: 121px;
	/* 默认的转换原点为图片的中心，需要修改为右上角 */
	transform-origin: right top;
	opacity: 0;
}

.screen02 .input .search {
	position: relative;
}

.screen02 .input .key {
	position: absolute;
	left: 100px;
	top: 4px;
	opacity: 0;
}

.screen02 .text {
	text-align: center;
}

.screen02 .text .text02 {
	position: absolute;
	opacity: 0;
}

/* 第二屏动画 */
.screen02.now .text01 {
	position: absolute;
	opacity: 0;
	transform: opacity 1s;
}

.screen02.now .text02 {
	position: static;
	opacity: 1;
	transform: opacity 1.5s;
}

.screen02.now .input {
	/* 动画的状态控制：backwards 表示回到起点  forwards 保持动画的最后一步 */
	animation: input 3s linear forwards;
}

.screen02.now .input .key {
	opacity: 1;
	/* 搜索框中的内容的显示 需要在他运动的过程中停留的时候显示，这需要我们延迟1s执行，整个动画过程以匀速的状态持续1s */
	transition: all 1s linear 1s;
}

.screen02.now .goods {
	transform: scale(1);
	transition: all 1s linear 2s;
}

.screen02.leave .sofa {
	animation: sofa02 1s linear;
}

@keyframes input {
	0% {
		opacity: 1;
		transform: translate(2000px, 130px);
	}

	33.3% {
		transform: translate(-180px, 130px);
	}

	67% {
		transform: translate(-180px, 130px);
	}

	100% {
		opacity: 1;
		transform: scale(0.7);
	}
}

@keyframes sofa02 {
	from {
		opacity: 1;
	}

	to {
		opacity: 1;
		transform: translate(-80px, 700px);
	}
}

/* 第三屏 */
.screen03 {
	background: url(../images/03-bg.png) no-repeat bottom center;
}

.screen03 .sofa03 {
	position: absolute;
	left: 212px;
	top: 180px;
	display: none;
	z-index: 1001;
}

.screen03 .change {
	position: absolute;
	right: 115px;
	bottom: 170px;
}

.screen03 .cart {
	position: absolute;
	right: 192px;
	bottom: 100px;
}

.screen03 .change img:last-child,
.screen03 .cart img:last-child {
	position: absolute;
	opacity: 0;
}

.screen03.now .change img:first-child,
.screen03.now .cart img:first-child {
	display: none;
}

.screen03.now .change img:last-child,
.screen03.now .cart img:last-child {
	position: static;
	opacity: 1;
	transition: all 1s linear;
}

.screen03.now .sofa03 {
	display: block;
}

.screen03.leave .sofa03 {
	animation: sofa03 1s linear;
}
@keyframes sofa03{
	from{}
	to{
		transform: translate(140px, 700px) rotate(45deg);
	}
}

/* 第四屏 */
.screen04 {
	background: url(../images/04-bg.png) no-repeat bottom center;
}

.screen04 .could {
	position: absolute;
	left: -400px;
	top: -50px;
	animation: could 20s linear infinite alternate;
}

.screen04 .text {
	text-align: center;
	margin-top: 120px;
}
.screen04 .text img:last-child{
	position: absolute;
	opacity: 0;
}
.screen04 .sofa04{
	position: absolute;
	left:133px;
	top:-40px;
	z-index: -1;
	transform: rotate(45deg);
	opacity: 0;
}
.screen04 .cart {
	position: absolute;
	left: 220px;
	bottom: 50px;
	z-index: 1002;
}
.screen04 .address {
	position: absolute;
	opacity: 0;
}
.screen04>.address>img:last-child {
	position: absolute;
	opacity: 0;
}


.screen04.now .sofa04{
	opacity: 1;
}
.screen04.now .cart{
	transform: translateX(1000px);
	transition: transform 3s linear;
}

.screen04 .text.animation img:first-child {
	position: absolute;
	opacity: 0;
}
.screen04 .text.animation img:last-child {
	position: static;
	opacity: 1;
	transition: all 1s;
}

.screen04.now .address {
	position: absolute;
	opacity: 1;
	top: 200px;
	left: 50%;
	/* css3的居中是基于元素本身的 */
	transform: translateX(-50%);
	display: none;
}
.screen04.now .address img:last-child{
	position: absolute;
	top:60px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	display: none;
}

@keyframes could {
	from {}
	to {
		transform: translateX(1000px);
	}
}

/* 第五屏 */
.screen05 {background: url(../images/05-bg.png) bottom center no-repeat;}
.screen05 .content{height: 100%;}
.screen05 .text{position: absolute;bottom: 600px; left: 0;}
.screen05 .sofa05{position: absolute;bottom: 140px;transform: rotate(45deg);left: 60px;opacity: 0;z-index: 1;}
.screen05 .card{position: absolute; bottom: 200px; left: 0;}
.screen05 .card .cardImg{position: relative;z-index: 1;}
.screen05 .card .orderImg{position: absolute;left: 120px; bottom: 190px;transform: translateY(100px);}
.screen05 .mouse{position: absolute;right:0;bottom: 0;overflow: hidden;height: 100%;width: 400px;}
.screen05 .mouse .mouse01{position:absolute;right: 0;bottom:250px;}
.screen05 .mouse .mouse02{position:absolute;right: 0;bottom:250px;opacity: 0;}
.screen05 .mouse .hand{position: absolute;right: 60px;bottom: 0px;transform: translateY(500px);}
/* 第五屏动画 */
.screen05.now .mouse .hand{transform: none;transition: all 1s;}
.screen05.now .mouse .mouse02{opacity: 1;transition: all 0.2s linear 1s;}
.screen05.now .card .orderImg{transform: none;transition: all 0.7s linear 2.2s;}
.screen05.now .sofa05 {animation: sofa05 2s linear 1.2s forwards;}
.screen05.leave .sofa05{animation: sofa05-06 1s linear;}

@keyframes sofa05{
	from{opacity: 1;transform: translateY(-1000px) rotate(45deg);}
	50%{transform: translateY(-230px) rotate(45deg);}
	to{opacity: 1;transform: rotate(45deg);}
}
@keyframes sofa05-06{
	from{opacity: 1;transform: rotate(45deg);}
	to{opacity: 1;transform: translateY(480px) scale(0.2) rotate(45deg);}
}
/* 第六屏 */
.screen06{background: url(../images/06-bg.png) no-repeat 25% bottom;}
.screen06.now {background: url(../images/06-bg.png) no-repeat 100% bottom;transition: background 2s linear 1s;}
.screen06 .cloud{position: absolute;top:20px;left: -200px;}
.screen06 .cloud img:first-child{animation: cloud06 15s linear infinite alternate;}
.screen06 .cloud img:last-child{position: absolute;top: 0;left: 0;animation: cloud06 20s linear infinite alternate;}
.screen06 .text{position: absolute;left: 100px;top: 80px;text-align: center;}
.screen06 .text img:last-child{position: absolute;opacity: 0;}
.screen06 .box{position: absolute;top: 150px;left: 100px;z-index: 1003;}
.screen06 .box.show{animation: box06 2s linear forwards;}
.screen06 .car{position: absolute;bottom: 0;left: 70px;}
.screen06 .car img{position: absolute;opacity: 0;z-index: 1003;}
.screen06 .car .carImg{position: relative;opacity: 1;}
.screen06 .car .buyer{right: -30px;top: -40px;}
.screen06 .car .address{right: -30px;top: -40px;}
.screen06 .person{position: absolute;bottom: 116px;right: -30px;width:106px;height: 150px;}
.screen06 .person img{position: absolute;opacity: 0;right: 0;bottom: 0;}
.screen06 .person .personImg{position: absolute;left: -150px;top:-130px;transform: scale(0);transform-origin: right bottom;}

.screen06.now .car .buyer{opacity: 1;transition: all 0.25s linear 1.2s;}
.screen06.now .car .address{opacity: 1;transition: all 0.2s linear 1.8s;}
.screen06.now .car .worker{left: 0;bottom: 0;transform-origin: left bottom; animation: worker 1.5s linear 3s forwards;}
.screen06.now .text img:first-child{position: static;opacity: 0;transition: all 0.1s linear 4s;}
.screen06.now .text img:last-child{posion:absolute;opacity: 1;transition: all 0.5s linear 4s;left: 0;top:0;}
.screen06.now .car .say{opacity: 1;right: -300px;top:-400px;transition: all 0.5s linear 4.5s; }
.screen06.now .person .door{opacity: 1;transition: all 0.5s linear 5s;}
.screen06.now .person .personImg{opacity: 1;transform: scale(1);transition: all 0.5s linear 5.7s;}
@keyframes cloud06{
	from{}
	to{transform: translateX(1500px);}
}
@keyframes box06{
	from{transform: translateX(-500px);}
	50%{transform: none;}
	to{transform: translateY(330px) scale(0.3);}
}
@keyframes worker{
	from{transform: scale(0);opacity: 1;}
	33.3%{transform: scale(1);opacity: 1;}
	66.7%{transform: translateY(-100px);opacity: 1;}
	100%{transform: scale(1) translate(200px, -100px);opacity: 1;}
}

/* 第七屏 */
.screen07 {background: url(../images/07-bg.png) bottom center;}
.screen07 .star{position: absolute;top: 138px;left: 157px;}
.screen07 .star img{float: left;margin-left:6.3px;margin-top: 4px;display: none;}
.screen07 .star img:first-child{margin-left: 0;}
.screen07 .text{position: absolute;top: 185px;left: 165px;transform: scale(0);transform-origin: left bottom;}
.screen07 .text.show{animation: text07 1.2s linear 2.3s forwards;}

@keyframes text07{
	from{}
	70%{transform: scale(1.3);}
	to{transform: none;}
}
/* 第八屏 */
.screen08 {background: url(../images/08-bg.png) bottom center;}
.screen08 .btn{width:390px;height: 160px;position: absolute;left: 50%;margin-left: -185px;top: 0;}
.screen08 .btn img:last-child{position: absolute;opacity: 0;left: 0;top: 0;}
.screen08 .btn:hover img:last-child{opacity: 1;}
.screen08 .again{position: absolute;right: 0;top:200px;}
.screen08 .hand{position: absolute;width:170px; left: 50%;top:200px;margin-left:-85px;}